* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
  
    margin: 0;
    padding: 0;
  }
  
  h2,
  h3 {
    color: #dd1212;
  }
  
  footer {
    padding: 20px;
    color: white;
    background-color: #035445ca;
  
    text-align: center;
    font-weight: bold;
  }
  
  body{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
  
  nav a {
    font-size: 18px;
  
    font-weight: 400;
  text-decoration: none;
  
  color: rgb(231, 225, 225);
  }
  
  nav a:hover {
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 999px;
    transition: all 0.5s;
  }
  
  .profile header {
    text-align: center;
  }
  
  .featured-image {
    width: 100%;
    max-height: 300px;
  
    object-fit: cover;
    object-position: center;
  }
  
  .profile img {
    max-width: 200px;
  }
  
  h1{
  color: white;
  }
  
  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  }
  
  .sejarah {
    font-size: 20px;
    padding: 30px;
    background-image: url(download.gif);
    height: 180px;
    text-align: center;
    color: rgba(32, 15, 15, 0.92);
  }
  
  nav ul {
    padding-inline: 4rem;
    display: flex;
  
    gap: 2rem;
  }
  
  nav li {
    list-style-type: none;
  }
  
  nav {
    background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 5px;
    text-align: justify;
    position: sticky;
    top: 0;
  }
  
  main {
    padding: 20px;
    display: flex;
   gap: 1.5rem;
  }
  
  #content {
    flex: 5;
  
    display: flex;
   flex-flow: column nowrap;
   gap: 1rem 2rem;
  }
  
  @media screen and (max-width: 1200px) {
  main {
  flex-flow: column nowrap;
  }
  
  main aside {
  align-self: center;
   }
  }
  
  @media screen and (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
    main aside {
      align-self: stretch;
    }
  }